@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Outfit:wght@200;300;400&family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', 'Poppins', sans-serif;
}

.profile{
  text-align: center;
  width: 60%;
  margin-left: 250px;
  margin-top: 130px;
}

.profile h1{
  margin-bottom: 30px;
}